
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.blog-5--qUa {
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 11.2rem 6.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .section-title-LRL {
    margin-bottom: 8rem;
    width: 61.6rem;
    flex-shrink: 0;

    .subheading-Gpn {
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
    }
    .content-zkn {
      width: 100%;
      display: flex;
      flex-direction: column;

      .heading-MbL {
        margin-bottom: 2.3rem;
        font-size: 5.6rem;
        font-weight: 700;
        line-height: 1.2000000817;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .text-6J2 {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
  }
  .content-2Bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .card-nRk {
      margin: 0rem 1.7rem 8.8rem 0rem;
      width: calc(100% - 1.7rem);
      height: 50rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .placeholder-image-hYi {
        flex-shrink: 0;
        margin-right: 4.8rem;
        width: 45.6rem;
        height: 20rem;
        object-fit: cover;
        vertical-align: top;
      }
      .content-ptE {
        margin: 15.05rem 0;
        width: 59.1rem;
        height: calc(100% - 30.1rem);
        flex-shrink: 0;

        .content-AhC {
          flex-direction: column;
          margin-bottom: 2.4rem;
          width: 100%;
          row-gap: 0.8rem;
          display: flex;

          .text-JoQ {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .blog-title-heading-will-go-here-Suc {
            font-weight: 700;
            line-height: 1.2999999523;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
          }
          .text-kvJ {
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 59.1rem;
            font-size: 1.6rem;
          }
        }
        .avatar-h4r {
          height: 4.8rem;
          display: flex;
          align-items: center;
          margin-right: 36rem;
          width: calc(100% - 36rem);

          .placeholder-image-RmY {
            position: relative;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:abd6613061e5e79c796051989ad26799c182b77a');
            flex-shrink: 0;
            margin-right: 1.6rem;
            width: 4.8rem;
            height: 4.8rem;
          }
          .content-wE6 {
            width: 16.7rem;
            height: 100%;
            flex-shrink: 0;

            .text-HYr {
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.4rem;
            }
            .time-dsc {
              width: 100%;
              display: flex;
              column-gap: 0.8rem;
              align-items: center;

              .text-Pbt {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
              }
              .item--jfk {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .text-4xv {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .content-1NN {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      .categories-NTp {
        width: calc(100% - 72rem);
        height: 4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 72rem 6.4rem 0rem;

        .button-hFC {
          font-family: Roboto, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          width: 8.8rem;
          font-weight: 400;
          justify-content: center;
          color: #000000;
          display: flex;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          font-size: 1.6rem;
        }
        .auto-group-pxja-nXY {
          box-sizing: border-box;
          padding: 0.8rem 0rem 0.8rem 1.6rem;
          height: 100%;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          flex-shrink: 0;

          .text-one-6YE {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .category-two-EuL {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .category-three-aiJ {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
          .text-four-ipW {
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .content-sBc {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .row-24W {
          width: 100%;
          height: 51.5rem;
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 6.4rem;

          .card-xTx {
            flex-shrink: 0;
            width: 41.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .placeholder-image-7bk {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d47f9f5af24fd7129274afad903571dd3819a330');
              flex-shrink: 0;
              width: 41.6rem;
              height: 30rem;
            }
            .auto-group-zfs6-da6 {
              box-sizing: border-box;
              padding-top: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .content-akE {
                margin-bottom: 2.4rem;
                row-gap: 0.8rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .text-X9g {
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .heading-fWn {
                  font-weight: 700;
                  line-height: 1.3999999364;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.4rem;
                }
                .text-QUN {
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 39.4rem;
                }
              }
              .avatar-Yaa {
                margin-right: 18.5rem;
                width: calc(100% - 18.5rem);
                height: 4.8rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .placeholder-image-Ho4 {
                  margin-right: 1.6rem;
                  width: 4.8rem;
                  height: 4.8rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:abd6613061e5e79c796051989ad26799c182b77a');
                  flex-shrink: 0;
                }
                .content-1UA {
                  width: 16.7rem;
                  height: 100%;
                  flex-shrink: 0;

                  .text-Abx {
                    font-weight: 600;
                    line-height: 1.5;
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.4rem;
                  }
                  .time-Wvi {
                    display: flex;
                    column-gap: 0.8rem;
                    align-items: center;
                    width: 100%;

                    .text-fYi {
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                    }
                    .item--CYe {
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.8rem;
                      font-weight: 400;
                    }
                    .text-joU {
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                      font-weight: 400;
                    }
                  }
                }
              }
            }
          }
          .card-GoQ {
            flex-shrink: 0;
            width: 41.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .placeholder-image-EES {
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d47f9f5af24fd7129274afad903571dd3819a330');
              flex-shrink: 0;
              width: 41.6rem;
              height: 30rem;
              position: relative;
            }
            .auto-group-hfiv-Ykv {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .content-h82 {
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                row-gap: 0.8rem;
                display: flex;

                .text-SLW {
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .heading-m7t {
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3999999364;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .text-uE6 {
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 39.4rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                }
              }
              .avatar-SE2 {
                flex-shrink: 0;
                margin-right: 18.5rem;
                width: calc(100% - 18.5rem);
                height: 4.8rem;
                display: flex;
                align-items: center;

                .placeholder-image-n2z {
                  margin-right: 1.6rem;
                  width: 4.8rem;
                  height: 4.8rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:abd6613061e5e79c796051989ad26799c182b77a');
                  flex-shrink: 0;
                }
                .content-tLv {
                  width: 16.7rem;
                  height: 100%;
                  flex-shrink: 0;

                  .text-3jc {
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.5;
                  }
                  .time-nx6 {
                    display: flex;
                    column-gap: 0.8rem;
                    align-items: center;
                    width: 100%;

                    .text-k8E {
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                    }
                    .item--tkE {
                      font-size: 1.8rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .min-read-2rS {
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                  }
                }
              }
            }
          }
          .card-N9c {
            width: 41.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-KqY {
              height: 30rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d47f9f5af24fd7129274afad903571dd3819a330');
              flex-shrink: 0;
              width: 41.6rem;
            }
            .auto-group-ofga-FUJ {
              box-sizing: border-box;
              padding-top: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .content-oVp {
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                row-gap: 0.8rem;
                display: flex;

                .text-YiJ {
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .heading-tnA {
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3999999364;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .text-39G {
                  max-width: 39.4rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
              .avatar-aQ6 {
                margin-right: 18.5rem;
                width: calc(100% - 18.5rem);
                height: 4.8rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .placeholder-image-7ev {
                  background-image: url('REPLACE_IMAGE:abd6613061e5e79c796051989ad26799c182b77a');
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 4.8rem;
                  height: 4.8rem;
                  position: relative;
                  background-size: 100% 100%;
                }
                .content-2mt {
                  width: 16.7rem;
                  height: 100%;
                  flex-shrink: 0;

                  .text-nm4 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .time-jwC {
                    width: 100%;
                    display: flex;
                    column-gap: 0.8rem;
                    align-items: center;

                    .text-Hhp {
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .item--2vJ {
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.8rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                    .text-yae {
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                  }
                }
              }
            }
          }
        }
        .row-W4n {
          display: flex;
          column-gap: 3.2rem;
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 51.5rem;

          .card-eAz {
            flex-direction: column;
            flex-shrink: 0;
            width: 41.6rem;
            height: 100%;
            align-items: center;
            display: flex;

            .placeholder-image-QAA {
              flex-shrink: 0;
              width: 41.6rem;
              height: 30rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d47f9f5af24fd7129274afad903571dd3819a330');
            }
            .auto-group-e2oy-v8W {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .content-UA2 {
                margin-bottom: 2.4rem;
                row-gap: 0.8rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .text-1fk {
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.5;
                }
                .heading-ZhG {
                  line-height: 1.3999999364;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  font-weight: 700;
                }
                .text-KAe {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 39.4rem;
                  font-size: 1.6rem;
                }
              }
              .avatar-48E {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 18.5rem;
                width: calc(100% - 18.5rem);
                height: 4.8rem;

                .placeholder-image-btr {
                  height: 4.8rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:abd6613061e5e79c796051989ad26799c182b77a');
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 4.8rem;
                }
                .content-XGi {
                  width: 16.7rem;
                  height: 100%;
                  flex-shrink: 0;

                  .text-gfQ {
                    line-height: 1.5;
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.4rem;
                    font-weight: 600;
                  }
                  .time-2UN {
                    column-gap: 0.8rem;
                    align-items: center;
                    width: 100%;
                    display: flex;

                    .text-BcA {
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                    .item--8nJ {
                      font-size: 1.8rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .text-5hY {
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                      font-weight: 400;
                    }
                  }
                }
              }
            }
          }
          .card-Dok {
            width: 41.6rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .placeholder-image-ynv {
              width: 41.6rem;
              height: 30rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d47f9f5af24fd7129274afad903571dd3819a330');
              flex-shrink: 0;
            }
            .auto-group-zuja-hiv {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 2.4rem;
              width: 100%;
              display: flex;

              .content-eu4 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 2.4rem;
                row-gap: 0.8rem;

                .text-QNS {
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 600;
                }
                .heading-MHg {
                  line-height: 1.3999999364;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  font-weight: 700;
                }
                .text-hcS {
                  max-width: 39.4rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
              .avatar-eGn {
                margin-right: 18.5rem;
                width: calc(100% - 18.5rem);
                height: 4.8rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .placeholder-image-BGi {
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 4.8rem;
                  height: 4.8rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:abd6613061e5e79c796051989ad26799c182b77a');
                }
                .content-hkr {
                  width: 16.7rem;
                  height: 100%;
                  flex-shrink: 0;

                  .text-Tzv {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #000000;
                  }
                  .time-CBp {
                    width: 100%;
                    display: flex;
                    column-gap: 0.8rem;
                    align-items: center;

                    .text-Lop {
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                    }
                    .item--t4e {
                      font-size: 1.8rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .text-Dci {
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                }
              }
            }
          }
          .card-AH4 {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 41.6rem;

            .placeholder-image-K9x {
              width: 41.6rem;
              height: 30rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d47f9f5af24fd7129274afad903571dd3819a330');
              flex-shrink: 0;
            }
            .auto-group-a5sn-eCE {
              box-sizing: border-box;
              padding-top: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .content-npE {
                margin-bottom: 2.4rem;
                row-gap: 0.8rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .text-98z {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                }
                .heading-guc {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.3999999364;
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                }
                .text-RsC {
                  color: #000000;
                  font-family: Roboto, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 39.4rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
              .avatar-NXY {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 18.5rem;
                width: calc(100% - 18.5rem);
                height: 4.8rem;

                .placeholder-image-7V8 {
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 4.8rem;
                  height: 4.8rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:abd6613061e5e79c796051989ad26799c182b77a');
                }
                .content-2MC {
                  width: 16.7rem;
                  height: 100%;
                  flex-shrink: 0;

                  .text-nLN {
                    line-height: 1.5;
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 1.4rem;
                    font-weight: 600;
                  }
                  .time-wDG {
                    width: 100%;
                    display: flex;
                    column-gap: 0.8rem;
                    align-items: center;

                    .text-Hnv {
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.4rem;
                      font-weight: 400;
                    }
                    .item--Ey4 {
                      font-size: 1.8rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .text-nDt {
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #000000;
                      font-family: Roboto, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
